.container{
   margin: 35px 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
}



.innerContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   
}

.heading{
   font-family:  sans-serif;
   font-weight: bolder;
   font-size:   77px;
}


.image{
  width: 50%;
}

.button{
   font-family: sans-serif;
   font-weight: bolder;
   font-size: 20px;
   background-color: black;
   color: white;
   width: 200px;
   padding: 12px 10px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-self: flex-end;
   cursor: pointer;

}

.button:hover{
  background-color: grey;
  
}